# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Project specific
captures/*
!captures/.gitkeep

# Operating System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/